{% load static %}

<div class="bg-slate-600 border border-green-500/20 rounded-lg px-4 py-1 transition-all relative">
  <label class="block text-slate-100 font-bold text-xs uppercase tracking-wide mb-1">{{ g.name }}</label>
  <div class="flex gap-2 items-center">
    <div class="text-slate-400 group">👁️
      <div id="details-{{ g.id }}" class="choice-details text-sm text-slate-400 hidden group-hover:block absolute left-0 top-1/2 mt-1 w-max max-w-xs bg-slate-70 rounded p-2 shadow-lg pointer-events-none transition-opacity z-10"></div>
    </div>
    <form class="choice-form flex-1" data-group-id="{{ g.id }}" data-group-name="{{ g.name }}" data-default-options="{{ g.options_json|escapejs }}">
    <!-- <form class="choice-form flex-1" data-group-id="{{ g.id }}" data-group-name="{{ g.name }}" data-default-options="{{ g.options_json|escapejs }}" hx-post="{% url 'choices:update' %}" hx-trigger="change"> -->
      {% csrf_token %}
      <input type="hidden" name="group" value="{{ g.id }}">
      <select name="value" class="cursor-pointer w-full bg-green-700 border border-slate-500/20 text-slate-100 px-3 py-1 rounded-md text-sm transition focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-slate-400">
        {% for opt in g.options %}
          {% if opt.name %}
            <option value="{{ opt.name }}" {% if forloop.first %}selected{% endif %}
              {% for k,v in opt.items %}{% if k != 'name' %} data-{{ k }}="{{ v }}"{% endif %}{% endfor %}
            >{{ opt.name }}</option>
          {% else %}
            <option value="{{ opt }}" {% if forloop.first %}selected{% endif %}>{{ opt }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </form>
    <button class="edit-options text-slate-400 hover:text-slate-200 transform -scale-x-100" data-group-id="{{ g.id }}">✏️</button>

  </div>
</div>